<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8"/>
        <title>CSRFiner</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

<!-- design is created at CodePen.io. You can find this one at https://codepen.io/sashatran/pen/wJMezj. Thanks for the ability to use it. -->

        <style>
body {display:flex; justify-content:center; align-items:center; height:100vh; background:linear-gradient(to top right, #EC9D88, powderblue); overflow:hidden;}
.container {display:flex; justify-content:center; align-items:center; width:88vmin; height:50vmin; position:relative;}
.magnify {position:absolute; width:20vmin; height:20vmin; border:2vmin solid #5C6D70; border-radius:100%; background:#CDF1F5; box-shadow:1vmin 0 0 rgba(0, 0, 0, 0.1);}
.magnify:before, .magnify:after {position:absolute; content:'';}
.magnify:before {width:5vmin; height:20vmin; background:#5D6F70; left:23vmin; top:16.6vmin; transform:rotate(-45deg); border-radius:3px 3px 3vmin 3vmin; box-shadow:1vmin 0 0 rgba(0, 0, 0, 0.1);}
.magnify:after {width:10vmin; height:20vmin; border-radius:100%; border-left:10vmin solid white; top:0; opacity:0.2; transform:rotate(30deg);}
.bridge {position:absolute; width:2vmin; height:4vmin; background:#5D6F70; transform:rotate(-45deg); top:18vmin; left:18vmin;}
        </style>
        
    </head>
    <body>

<textarea rows="28" cols="75">
<html>
<head>
<title>PoC</title>
</head>

<body>
<form action="http://127.0.0.1:8080/map" method="GET"> 
<p><label for="URL">URL</label>: <input type="text" name="URL" id="URL" placeholder="https://google.no"/></p> 
<p><input type="submit" value="Go!" /></p>
</form>

<form action="http://127.0.0.1:8080/form" method="POST"> 
<p><label for="name">Name</label>: <input type="text" name="name" id="name" required="required"/></p> 
<p><label for="phone">Phone</label>: <input type="text" name="phone" id="phone"/></p>
<p><label for="_csrf">XSRF-Token</label>: <input type="text" name="_csrf" id="_csrf"/></p>
<p><input type="submit" value="Go!" /></p> 
</form> 
</body>

</html>
</textarea>

<div class="container">
 <div class="magnify">
  <div class="bridge">
  </div>
 </div>
</div>

    </body>
</html>
