<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Skal!</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="stylesheet" th:href="@{/css/style.css}" type="text/css" media="screen"/>
    </head>
    <body style="background-color:powderblue;">

        <h1 id="welcome">Welcome!</h1>
        <hr />
        <p id="about"><b><strong id="who" th:text="${who}">Who</strong>, you are already part of <q><u><abbr title="Marrbjorn Folk Party">MFP</abbr></u></q>.
         And if you want to invite your friends - so, you are able to get access for them! Just add one more listener from you! </b></p>
        
        <form action="#" th:action="@{/form}" method="POST">
            <p><label for="name">Name</label>: <input type="text" name="name" id="name" required="required"/></p>
            <p><label for="phone">Phone</label>: <input type="text" name="phone" id="phone"/></p>
            <p><input type="submit" value="Go!" /></p>
        </form>
        
                
        <h2 id="map">Also you can use the Map of website!</h2>
        <hr />
            <ul id="mapli">
             <li>For re-fresh page just add the "<strong>form</strong>" ; "<strong>login</strong>" for re-login!</li>
             <li th:if="${admin} != null">"<strong>hidden</strong>" for re-check ToDo... "<strong>formsrc</strong>" for review the src-files... "<strong>fylkr</strong>" for get the list of "listeners"...</li>  
             <li>Just add "<strong>preview</strong>" and get preview of our <q><u><abbr title="Harrleif Folk Party">HFP</abbr></u></q></li>
            </ul>
        
        <form th:action="@{/map}" method="GET">
            <p><label for="URL">URL</label>: <input type="text" name="URL" id="URL" placeholder="Try add: preview"/></p>
            <p><input type="submit" value="Go!" /></p>
            <p><input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/></p>
        </form>
    </body>
</html>
