<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8"/>
        <title>All listeners!</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <style>
            table, th, td {border:11px solid black; border-collapse:collapse;}
            th {font-size:190%; padding:15px; text-align:left;}
            td {font-size:143%; padding:25px; text-align:center;}
        </style>
    </head>
    <body>
        
      <table style="width:100%">
  <caption style="font-size:240%; font-family:verdana;"><strong>Listeners</strong></caption>
            <tr>
                <th><code>Listener:</code></th>
                <th><code>Phone:</code></th>
            </tr>
            <tr th:each="listener : ${listeners}">
                <td th:text="${listener.name}"><code>Listener name</code></td>
                <td th:utext="${listener.phone}"><code>Listener phone</code></td>
            </tr>
        </table>
        <br />
        <footer> <p><small>List of all listeners; for administrators <b><u>only</u></b>.</small></p></footer>
        
    </body>
</html>
