<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8"/>
        <title>Preview of Harrleif Folk Party...</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="stylesheet" th:href="@{/css/style.css}" type="text/css" media="screen"/>
    </head>
    <body>
        
        <h2 class="youtube">Sound still the POWER!</h2>
        <p style="text-align:center">
  <iframe width="550" height="450" src="https://www.youtube.com/embed/Vit_AymENgo"></iframe>
        </p>
        
    </body>
</html>
